@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto Mono", monospace;
    -webkit-font-smoothing: antialiased;
  }
}

body {
  @apply relative min-h-screen m-0 overflow-x-hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::before {
  content: "";
  @apply fixed inset-0 bg-no-repeat bg-center bg-cover opacity-90 -z-10;
  background-image: url("/wallpaper.svg");
}

::-webkit-scrollbar {
  display: none;
}
