@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'W95FA';
  src: url('/w95fa.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    color-scheme: dark light;
  }
  
  html {
    font-family: "W95FA", monospace;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
}

body {
  @apply relative min-h-screen m-0 overflow-x-hidden text-gray-900 bg-white dark:text-white dark:bg-gray-900;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::before {
  content: "";
  @apply fixed inset-0 bg-no-repeat bg-center bg-cover opacity-90 -z-10;
  background-image: url("/wallpaper.svg");
}

::-webkit-scrollbar {
  display: none;
}
