@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* Hide scrollbar for the entire page */
::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::before {
    content: "";
    background-image: url("/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
