#hiddenWord {
  margin-top: 1px;
  margin-bottom: 1px;
}
#playerList {
  height: 624px; /* cant use full for height */
}
#chatBox {
  margin-top: -8px;
  padding-bottom: -130px;
}
#soundButton {
  height: 115px;
  width: 115px;
  margin-bottom: 25px;
  margin-left: 50px; 
}
#themeButton {
  margin-right: 200px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
.score {
  text-align: right;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.8s ease-out forwards;
}

.play-music-button {
  background-color: #FFEB3B; 
  color: #000; 
  padding: 4px 8px; 
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.play-music-button:hover {
  background-color: #FDD835; 
}

@keyframes shootOffScreen {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.shoot-off-screen {
  animation: shootOffScreen 0.5s ease-out forwards;
}




